<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.387905493709-7ri7oqu3nppb96s7541qa6m1tfpujhug</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>goyangdeogyang_bold.ttf</string>
		<string>goyangdeogyang_extrabold.ttf</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>체크인 인증을 위해 현재 위치를 사용합니다.</string>
</dict>
</plist>
